<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="png" href="/img/logo 2me.png"/>
    <title>2MILLION</title>
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="/css/style.css">

    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- bootstrap 5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>
<body style="background: #919191;" >
    <!-- onload= window.print() -->

    <div class="container--socaitk">
        <img class="logo" src="/img/logo 2me.png" alt="">
        <div class="header">
            <p class="title"><b>HÓA ĐƠN GIÁ TRỊ GIA TĂNG</b></p>
            <p>Liên 1: Lưu</p>
            <p>
                Ngày <output name="" id="date">09</output>
                tháng <output name="" id="month">12</output>
                năm <output name="" id="year">2022</output>
            </p>
            <p style="font-weight: bold;color: red">
                Số HĐ: HD0001
            </p>
        </div>
        <hr>
        <div class="content">
            <div class="content-company d-flex row">
                <span><b>Đơn vị bán hàng: </b>
                <span style="text-transform: uppercase;font-weight: bold;">  Công ty Cổ phần Giải trí và Truyền thông 2Million</span>
                </span>
                <span><b>Mã số thuế:</b> 0109642164</span>
                <span><b>Địa chỉ:</b> 55 Ngõ Giếng, Phố Đông Các, Phường Ô Chợ Dừa, Quận Đống Đa, Thành phố Hà Nội, Việt Nam</span>
                <div>
                    <span ><b>Điện thoại:</b> 0858 928 282</span>
                    <span class="mx-5"><b>Số tài khoản:</b></span>
                </div>
            </div>
            <hr>
            <div class="content-customer d-flex row">
                <span><b>Họ tên người mua hàng:</b> 
                    <span style="font-weight: bold;">CÔNG TY TNHH TƯ VẤN VÀ TRIỂN KHAI SMARKETING AGENCY</span>
                </span>
                <span><b>Tên đơn vị:</b> <output > CÔNG TY TNHH TƯ VẤN VÀ TRIỂN KHAI SMARKETING AGENCY</output></span>
                <span><b>Mã số thuế:</b> 0109642164 </span>
                <span><b>Địa chỉ:</b> Số nhà 16, ngách 99 ngõ 354 đường Trường Chinh, P. Khương Thượng, Đống Đa, Hà Nội</span>
                <span><b>Điện thoại:</b> </span>
                <span><b>Hình thức thanh toán:</b> Chuyển khoản</span>
                <div>
                    <span><b>Số tài khoản:</b> 1023657125</span>
                    <span class="mx-5"><b>Ngân hàng:</b> Ngân hàng Công thương VietinBank</span>     
                </div>
            </div>
            <div class="content-service">
                <div class="table-responsive">
                    <table class="table-bordered">
                        <thead>
                            <tr>
                                <th scope="col" width="5%">STT</th>
                                <th scope="col" width="30%">Tên hàng hóa, dịch vụ</th>
                                <th scope="col" width="15%">Đơn vị tính</th>
                                <th scope="col" width="15%">Số lượng</th>
                                <th scope="col" width="15%">Đơn giá</th>
                                <th scope="col" width="20%">Thành tiền</th>
                            </tr>
                            <tr class="header">
                                <th scope="row">1</th>
                                <th>2</th>
                                <th>3</th>
                                <th>4</th>
                                <th>5</th>
                                <th>6 = 4 x 5</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">1</td>
                                <td>Phí 50% cung cấp dịch vụ quảng cáo cho nhãn hàng TiGi theo hợp đồng số 251001/TIGI-2ME</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>24.500.000</td>
                            </tr>
                            <tr>
                                <td scope="row"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td scope="row"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td scope="row" colspan="5" style="text-align: right;"> <b>Cộng tiền hàng hóa, dịch vụ</b></td>
                                <td style="text-align: right;"><output>24.500.000</output></td>
                            </tr>
                            <tr>
                                <td scope="row" colspan="5" style="text-align: right;"> <b>Thuế suất GTGT</b></td>
                                <td style="text-align: right;"><output>8</output>%</td>
                            </tr>
                            <tr>
                                <td scope="row" colspan="5" style="text-align: right;"> <b>Tiền thuế GTGT</b></td>
                                <td style="text-align: right;"><output>1.960.000</output></td>
                            </tr>
                            <tr>
                                <td scope="row" colspan="5" style="text-align: right;"> <b>Tổng cộng tiền thanh toán</b></td>
                                <td style="text-align: right;"><output>26.460.000</output></td>
                            </tr>
                            <tr>
                                <td scope="row" colspan="6" style="text-align: left;"> 
                                    <b>Số tiền viết bằng chữ:</b>
                                    <output>Hai mươi sáu triệu bốn trăm sáu mươi nghìn dồng chẵn.</output>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>   
            </div>
        </div>
        <div class="footer d-flex column">
            <div class="footer-customer">
                <span style="font-weight: bold">Người mua hàng</span>
                <br>
                <span>(Ký, ghi rõ họ tên)</span>
            </div>
            <div class="footer-company">
                <span style="font-weight: bold">Người bán hàng</span>
                <br>
                <span>(Ký, đóng dấu, ghi rõ họ tên)</span>
            </div>
        </div>
    </div>

    <script src="/app.js"></script>
</body>
</html>
