<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="png" href="/img/logo 2me.png"/>
    <title>2MILLION</title>
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="/css/style.css">
    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- bootstrap 5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/bootstrap.min.css">

</head>
<body>
    <div class="sidebar">
        <div class="logo-details">
          <!-- <i class='bx bxl-c-plus-plus'></i> -->
          <img src="/img/logo 2me.png" alt="" class="logo-img">
          <span class="logo_name">KẾ TOÁN DTBH</span>
        </div>

        <ul class="nav-links">
          <li class="nav-item">
            <a href="/home">
              <i class='fa-solid fa-house'></i>
              <span class="link_name">Tổng quan</span>
            </a>

            <ul class="sub-menu blank">
              <li><a class="link_name" href="/home">Tổng quan</a></li>
            </ul>

          </li>
          
          <li class="nav-item ">
            <div class="icon-link">
              <a href="/danhmuc/khachhang">
                <i class='fa-solid fa-list-ul' ></i>
                <span class="link_name">Danh mục</span>
              </a>
              <i class='bx bxs-chevron-down arrow' ></i>
            </div>
            <ul class="sub-menu">
              <li><a class="link_name" href="/danhmuc/khachhang">Danh mục</a></li>
              <li><a href="/danhmuc/khachhang">Khách hàng</a></li>
              <li><a href="/danhmuc/dichvu">Dịch vụ</a></li>
              <li><a href="/danhmuc/taikhoan">Tài khoản</a></li>
            </ul>
          </li>
          
          <li class="nav-item">
            <div class="icon-link">
              <a href="/chungtu/hoadonGTGT">
                <i class='fa-solid fa-file-lines' ></i>
                <span class="link_name">Chứng từ</span>
              </a>
              <i class='bx bxs-chevron-down arrow' ></i>
            </div>
            <ul class="sub-menu">
              <li><a class="link_name" href="/chungtu/hoadonGTGT">Chứng từ</a></li>
              <li><a href="/chungtu/hoadonGTGT">Hóa đơn GTGT</a></li>
              <li><a href="/chungtu/phieuGG">Phiếu giảm giá DV</a></li>
            </ul>
          </li>

          <li class="nav-item active">
            <div class="icon-link">
              <a href="/sosach/socaitk">
                <i class='fa-solid fa-arrow-trend-up' ></i>
                <span class="link_name">Sổ sách</span>
              </a>
              <i class='bx bxs-chevron-down arrow' ></i>
            </div>
            <ul class="sub-menu">
              <li><a class="link_name" href="/sosach/socaitk">Sổ sách</a></li>
              <li><a href="/sosach/socaitk">Sổ cái TK</a></li>
              <li><a href="/sosach/socttk">Sổ chi tiết TK</a></li>
            </ul>
          </li>
          
          <li class="nav-item">
            <div class="icon-link">
              <a href="#">
                <i class='fa-solid fa-arrow-trend-up' ></i>
                <span class="link_name">Báo cáo</span>
              </a>
              <i class='bx bxs-chevron-down arrow' ></i>
            </div>
            <ul class="sub-menu">
              <li><a class="link_name" href="#">Báo cáo</a></li>
              <li><a href="#">Doanh thu theo KH</a></li>
              <li><a href="#">Doanh thu theo DV</a></li>
              <li><a href="#">Tổng hợp Doanh thu</a></li>
              <li><a href="#">Giảm trừ Doanh thu</a></li>
            </ul>
          </li>

          <li class="nav-item">
            <a href="#">
              <i class='fa-solid fa-gear' ></i>
              <span class="link_name">Hệ thống</span>
            </a>
            <ul class="sub-menu blank">
              <li><a class="link_name" href="#">Hệ thống</a></li>
            </ul>
          </li>
          <li>
        <div class="profile-details">
          <div class="profile-content">
            <img src="/img/client2.png" alt="profileImg">
          </div>
          <div class="name-job">
            <div class="profile_name">Hữu Thanh</div>
            <div class="job">Kế toán DTBH</div>
          </div>
          <i class='bx bx-log-out' ></i>
        </div>
      </li>
    </ul>
      </div>
    <section class="home-section">
      <div class="home-nav">
          <i class='bx bx-menu' ></i>
          <div class="home-text">
              <i class="fa-solid fa-circle-check home-icon"></i>
              <span>Dữ liệu kế toán 2022</span>
          </div>
          
          <div class="home-info">
              <img src="/img/client2.png" alt="avatar" class="home-avatar">
              <i class="fa-solid fa-caret-down"class="home-icon"></i>
          </div>
      </div>
      <!-- content -->
      <div class="home-content">
        <div class="home-tab">
          <a class="tab-item active" href="/sosach/socaitk">Sổ Cái TK</a>
          <a class="tab-item" href="/sosach/socttk">Sổ Chi tiết TK</a>
        </div>
        <hr class="mt-0 mb-4">

        <form class="form-container" method="post">
            <fieldset class="col-md-5 p-3" style="border-radius: 10px;">
                <legend style="color: #198754;"><b>Thông tin tra cứu -- Sổ cái</b></legend>
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                    <label for="inputPassword6" class="col-form-label"><b>Thời gian</b></label>
                    </div>
                    <div class="input-group mb-3 mt-1">
                        <span class="input-group-text"> <b>Từ</b> </span>
                        <input type="date" class="form-control" placeholder="Username" aria-label="Username">
                        <span class="input-group-text"> <b>Đến</b> </span>
                        <input type="date" class="form-control" placeholder="Server" aria-label="Server">
                    </div>
                </div>
                
                <div class="input-group mb-3 mt-3">
                    <select class="form-select" id="inputGroupSelect02">
                    <option selected>Chọn tài khoản</option>
                    <option value="1">TK 511 - Doanh thu bán hàng và cung cấp dịch vụ</option>
                    <option value="2">TK 521 - Giảm trừ doanh thu</option>
                    </select>
                    <label class="input-group-text" for="inputGroupSelect02">SỔ CÁI TÀI KHOẢN</label>
                </div>
                <a href="/sosach/socaitk-preview" class="print-url" target="_blank">
                    <button type="button" class="btn btn-success" style="float:right">Xem</button>
                </a>

            </fieldset>
        </form>

    </div>

    <script src="/customer.js"></script>
    <script src="/app.js"></script>
    <script src="/bootstrap.min.js"></script>
  
</body>
</html>

