// table
.search{
    top:6px;
    left:10px;
}
  
.form-control{
    border:none;
    padding-left:32px;
}

.form-control:focus{
    border:none;
    box-shadow:none;
}

.green{
    color:green;
}
.home{
    &-content{
        margin: 20px;
    }
}
.position-relative .position-absolute .form-control{
    border: none;
    box-shadow: none;
}