.home{
    &-content{
        margin: 20px;
    }
}
// table
.table-hover{
    transition: .5s ease-in-out;
}
.search{
    top:6px;
    left:10px;
}
  
.form-control{
    border:none !important; 
    margin-bottom: 5px !important;

}

.form-control:focus{
    border:none !important;
    box-shadow:none !important;
}
.container-fluid .btn{
    border:none !important;
    box-shadow:none !important;
    position: relative;
}
.container-fluid .btn i{
    position: absolute;
    right: 0;
    top: 50;
    transform: translate(50%, 60%);
}
.home-tab a{
    display: inline-block;
    padding: 15px;
    margin-top: auto;
    cursor: pointer;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 500;
    color: #25282c;
    transition: all 0.1s linear;
    &:hover{
        font-weight: bold;
        background-color: #fff;
        color: inherit;
        border-radius: 10px 10px 0 0;
    }
}
.hometab{
    height: 20px;
}

// tab active
.home-content .home-tab .tab-item.active{
    font-weight: bold;
    background-color: #fff;
    color: inherit;
    border-radius: 10px 10px 0 0;
}

// popup
.form-popup {
    display: none;
    position: fixed;
    // bottom: 0;
    // right: 15px;
    border: none;
    border-radius: 50px;
    z-index: 9;
    @include absCenter();
  }
  
  .form-container {
    max-width: 600px;
    padding: 20px;
    background-color: white;
  }
  
  .form-container h2 {
    text-align: center;
    margin-top: 0;
  }
  
  .form-container input[type=text], input[type=email], input[type=tel] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 8px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  .form-container input[type=submit] {
    background-color: #4CAF50;
    color: white;
    border: none;
  }
  
  .form-container button {
    background-color: #ddd;
    color: black;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
  }
  
  .form-container button:hover {
    background-color: #4CAF50;
  }
  
  .form-container .cancel {
    background-color: #bbb;
  }
  
  .form-container .btn {
    float: left;
    width: 50%;
    margin-right:5px;
  }
  
  .form-container .btn.cancel {
    float: right;
    margin-left:5px;
  }
  