
@mixin absCenter{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Google Fonts Import Link */
// @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');
* {
  margin: 1px;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body{
  fieldset, legend{
    all: revert;
  }
}