
.home-content{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin: 40px;
}
.home-card{
    width: calc(32%);
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
}
.card-heading{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}