
.home-content{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin: 50px;
}
.home-card{
    width: 30%;
    background-color: #fff;
    padding: 20px;
}