
.form-popup--service {
    display: none;
    border: none;
}
 .form-popup--service .bg-popup {
    background-color: #25282c;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    @include absCenter();
    z-index: 9998;
 } 
.form-container {
    width: 1000px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    @include absCenter();
    z-index: 9999;
}

.form-container h2 {
    text-align: left;
    margin-top: 0;
}

.form-container input[type=text], input[type=email], input[type=tel] , input[type=textarea], select[name=lang], input[type="number"] {
    width: 100%;  
    // height: 100%;
    padding: 5px;
    border: 0.5px solid #ccc;
    border-radius: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    // resize: vertical;
    outline-color: #198754;    
}

// .form-container input[type=submit] {
//     background-color: #198754;
//     color: white;
//     border: none;
// }

.form-container button {
    background-color: #ddd;
    color: black;
    border: none;
    cursor: pointer;
    width: 50px;
}

.form-container .cancel {
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
    transition: all 0.2s ease-in;
    &:hover {
        transform: rotate(90deg) scale(1.3);
        color: rgb(192, 0, 0) !important;
    }
}

.form-container  .save{
    float: right;
    width: 50px;
    margin-top: 10px;
}
.form-container .save:hover {
    background-color: #198754 !important;
    color: #fff !important;
    font-weight: bold;
}

// .form-left,
// .form-right{
//     width: calc(50% - 20px);
//     display: flex;
//     flex-direction: column;
// }
// .form-content{
//     display: flex;
//     align-items: flex-start;
//     justify-content: space-between;
//     flex-direction: row;
// }
.form-content{
    // 4 columns
    // 4 row: 260px

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 70px 70px 70px;
    grid-gap: 5px 25px;
}
.form-content .service-id{
    grid-column: 1/3;
    grid-row: 1/2;
}
.form-content .service-name{
    grid-column: 1/2;
    grid-row: 2/3;
}

