.info{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 0 auto;
    &-text{
        font-weight: bold;
        margin-right: 20px;
        margin-top: 10px;
    }
    &-value{
        width: 200px;
    }
}

.form-input{
    .save{
        float: right;
        width: 55px;
        margin-top: 20px;
        margin-left: 10px;
        transition: all 0.1s ease-in;
    }
    .save{
        background-color: #198754 !important;
        color: #fff !important;
        transition: all 0.2s ease-in-out;
        &:hover{
            background-color: #13663f !important;
        }
    }

}